@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 29% 100%;
    --foreground: 240 59% 11%;
    --foreground-dark: 0, 0%, 10%;

    --muted: var(--background);
    --muted-foreground: 215 33% 26%;

    --primary: 124 100% 47%;
    --primary-foreground: var(--foreground);

    --secondary: 240 59% 11%;
    --secondary-foreground: var(--background);

    --accent: 0 0% 95%;
    --accent-foreground: var(--foreground);

    --border: var(--primary);
  }

  .dark {
    --background: 215 33% 0%;
    --foreground: 0 0% 100%;
  }

  input {
    @apply bg-transparent;
  }
}

@layer base {
  * {
    @apply border-border ring-border;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--secondary);
    border-radius: 10px;
    @apply bg-secondary/30;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary/70;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
